$font-stack: Helvetica, sans-serif
$font-code-stack: Consolas

body
  margin: 0
  padding: 0
  font-family: Helvetica, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


code
  font-family: $font-code-stack

